## save copies of sent mail to $record
set copy=yes

# color scheme
source ~/.mutt/solarized/mutt-colors-solarized-dark-16.muttrc 

# things I can't live without
set sort = threads

# vim-ish keybindings for going to the bottom of things
bind pager "G" bottom
bind index "G" bottom
bind browser "G" bottom


# vim: ft=muttrc:
